//-Var repeats = 200
!!!
html
    head
        title TopCoat test
        //|<link rel="stylesheet" type="text/css" href="../../release/css/{{example}}.min.css">
    body
 //       -while (repeats > 0)
            -var repeats = repeats - 1
            // {{example}}
            // <a class="button">Button</a>
